[DEFAULT]
debug = {{ ceilometer_logging_debug }}
verbose = true

log_dir = /var/log/kolla/ceilometer
rpc_backend = rabbit

notification_driver = messagingv2
notification_topics = notifications

# listen for notifications from diff. services
keystone_control_exchange = identity
neutron_control_exchange = openstack
nova_control_exchange = openstack

[collector]

[database]
connection = mongodb://{{ ceilometer_database_user }}:{{ ceilometer_database_password }}@{{ ceilometer_database_address }}:{{ mongodb_port }}/{{ ceilometer_database_name }}

[keystone_authtoken]
memcached_servers = {{ kolla_internal_fqdn }}:{{ memcached_port }}
auth_uri = {{ internal_protocol }}://{{ kolla_internal_fqdn }}:{{ keystone_public_port }}
project_domain_name = Default
project_name = service
user_domain_name = Default
username = {{ ceilometer_keystone_user }}
password = {{ ceilometer_keystone_password }}
auth_url = {{ admin_protocol }}://{{ kolla_internal_fqdn }}:{{ keystone_admin_port }}
auth_type = password

[notification]
store_events = true

# WARNING: Ceilometer historically offered the ability to store events
# as meters. This usage is NOT advised as it can flood the metering
# database and cause performance degradation. This option disables the
# collection of non-metric meters and will be the default behavior in
# Liberty. (boolean value)
disable_non_metric_meters = false

[oslo_messaging_rabbit]
rabbit_userid = {{ rabbitmq_user }}
rabbit_password = {{ rabbitmq_password }}
rabbit_ha_queues = true
rabbit_hosts = {% for host in groups['rabbitmq'] %}{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ rabbitmq_port }}{% if not loop.last %},{% endif %}{% endfor %}

[service_credentials]
auth_url = {{ internal_protocol  }}://{{ kolla_internal_fqdn }}:{{ keystone_admin_port }}/v2.0
region_name = {{ openstack_region_name }}
password = {{ ceilometer_keystone_password }}
username = {{ ceilometer_keystone_user }}
project_name = service
project_domain_id = default
user_domain_id = default
auth_type = password
